.tweets-list{
  margin: 1rem 0;
  border: 1px solid lightgrey;
  padding: .5rem;
}

.tweet-item:not(:last-child){
  margin-bottom: 1rem;
}

.tweet-item:nth-child(2n):hover{
  background-color: rgb(241, 241, 241);
}